/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F1F1F1;
  color: #4A4A4A;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3E7C7C;
}

#navbar img {
  width: 100px;
}

#navbar nav ul {
  list-style: none;
  display: flex;
}

#navbar nav ul li {
  margin: 0 20px;
}

#navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

#navbar nav ul li a:hover {
  color: #FF6F61;
}

/* Hero Section */
header .content {
  text-align: center;
  margin-top: 80px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #3E7C7C;
}

header h1 .primary-text {
  color: #FF6F61;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #6C6C6C;
}

.btn {
  background-color: #FF6F61;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background-color: #FF4C39;
}

/* About Section */
#about {
  background-color: #ffffff;
  padding: 80px 0;
}

#about .title {
  text-align: center;
}

#about .title h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #3E7C7C;
}

#about .title p {
  color: #6C6C6C;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#about .about-content img {
  width: 50%;
}

#about .about-content div {
  width: 45%;
}

#about .btn-secondary {
  background-color: #3E7C7C;
  color: white;
  padding: 10px 25 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  
  
}

#about .btn-secondary:hover {
  background-color: #2E5B5B;
}

/* Gallery Section */
#gallery {
  padding: 80px 0;
  background-color: #F8F8F8;
}

#gallery .offers-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.offer-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.offer-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.card {
  padding: 20px;
}

.card h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.card p {
  color: #6C6C6C;
  font-size: 1.1rem;
}

.card .primary-text {
  color: #FF6F61;
}

.card .button {
  background-color: #3E7C7C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card .button:hover {
  background-color: #2E5B5B;
}

/* Testimonials Section */
#testimonials {
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center;
  margin-top: 30px;
}

#testimonials h1 {
  font-size: 2.5rem;
  color: #3E7C7C;
  margin-bottom: 20px;
}

.cust {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tist {
  width: 30%;
  background-color: #f9f9f9;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.tist img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.tist h3 {
  font-size: 1.4rem;
  color: #3E7C7C;
  margin-bottom: 10px;
}

.tist p {
  font-size: 1.1rem;
  color: #6C6C6C;
  margin-bottom: 15px;
}

.tist div i {
  color: #FF6F61;
}

/* Contact Section */
#contact {
  background-color: #F8F8F8;
  padding: 80px ;
}

#contact .container {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  margin-bottom: 70px;
}
.contact-info p {
  display: flex;
}

.contact-info div {
  width: 30%;
}

.contact-info h3 {
  font-size: 1.5rem;
  color: #3E7C7C;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact-info a {
  text-decoration: none;
  color: #FF6F61;
  font-size: 1.5rem;
  margin-right: 15px;
}

.contact-info a:hover {
  color: #3E7C7C;
}

form input, form textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1rem;
}

form button {
  padding: 15px 25px;
  background-color: #FF6F61;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #FF4C39;
}

/* Footer */
#footer {
  background-color: #3E7C7C;
  color: white;
  text-align: center;
  padding: 50%;
}

#footer b {
  color: #FF6F61;
}
